<section class="jumbotron">
  <i class="fas fa-store"></i>
  <h1>All Merchants</h1>
</section>


<% @mechants.each do |merchant| %>
  <%= merchant.name %>
  <%= merchant.city %>
  <%= merchant.state %>
  <%= merchant.created_at %>
<% end %>
