<h1>All Merchants</h1>


<% @mechants.each do |merchant| %>
  <%= merchant.name %>
  <%= merchant.city %>
  <%= merchant.state %>
  <%= merchant.created_at %>
<% end %>


<div class="high-merchant-stats"</div>
  <h1>Our Top Merchants</h1>
  <div id="by-price">

  </div>

  <div id="by-quantity">
    
  </div>

  <div id="by-fulfillment">
  </div>
</div>

<div class="low-merchant-stats"</div>
  <div id="by-price">
  </div>

  <div id="by-quantity">
  </div>

  <div id="by-fulfillment">
  </div>
</div>
