<section class="jumbotron">
  <div id="root_icons">
    <i class="fas fa-store"></i>
    +
    <i class="fas fa-dog"></i>
    +
    <i class="fas fa-mask"></i>
  </div>

  <h1>Little Shop of Dog Costumes!</h1>
</section>

<h1>Welcome!</h1>
<h2>Item Count: <%= @items.count %></h2>
