<section class="jumbotron">
  <div id="root_icons">
    <i class="fas fa-store"></i>
    +
    <i class="fas fa-dog"></i>
    +
    <i class="fas fa-mask"></i>
  </div>

  <h1>Welcome to Little Shop of Dog Costumes!</h1>
</section>
