@import "bootstrap";
@import "users.scss";
@import "items.scss";
@import "orders.scss";
@import "cart.scss";

body {
  background-color: #21A0A0;
  color: #FCFFF7;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 20rem;
}

a {
    color: white;

  &:hover {
    color: #6c757d;
    text-decoration: none;
  }
}

#root_icons {
  font-size: 125px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 20px;
}

.jumbotron {
  border-style: solid;
  border-radius: 5px;
  border-color: #D17B0F;
  border-width: 2px;
  text-align: center;
  margin: 30px;
  background-color: #D17B0F;
}

.jumbotron i {
  font-size: 200px;
  padding-bottom: 30px;
}

.navbar {
  background-color: #D17B0F;
}

.cart {
  border-style: solid;
  border-radius: 5px;
  border-color: #FCFFF7;
  border-width: 2px;
  padding: 10px;
  text-align: right;
}

.login {
  width: 50%;
  border-style: solid;
  border-radius: 5px;
  border-color: #D17B0F;
  border-width: 2px;
  padding: 10px;
  text-align: justify;
  margin: 200px;
  background-color: #D17B0F;
}


.col-md-3 {
  margin-left: 80px;
}

.form_container {
  width: 50%;
  text-align: center;
  margin: 2rem auto;
  border-style: solid;
  border-radius: 5px;
  border-color: #D17B0F;
  border-width: 2px;
  padding: 20px;
  // text-align: justify;
  background-color: #D17B0F;
}
