.stats-container {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 12px;
}

.item {
  color: #FCFFF7;
  border-style: solid;
  border-radius: 5px;
  border-color: #D17B0F;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
  background-color: #D17B0F;
  text-align: center;
}

.item img {
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
  border-width: 2px;
}

.item-show-container  {
  color: #FCFFF7;
  border-style: solid;
  border-radius: 5px;
  border-color: #D17B0F;
  border-width: 2px;
  padding: 10px;
  margin: 3rem auto;
  background-color: #D17B0F;
  text-align: center;
}
